
.container {
    border-radius: 10px;
    border-radius: 24px;
    background: 145deg, #183654, #183654;
    box-shadow:  29px 29px 43px #83818170,
                 -29px -29px 43px #83818170;
    padding: 20px;
    width: 700px;
    
      }
form{
    display: flex;
    
}
     
        div{
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;
          margin-right: 100px;
          
          margin: auto;
        }
          label {
            color: #9088a9;
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 15px;
            
          }
    
          input {
            border: 1px solid #ffffffbd;
            border-radius: 5px;
            outline: none;
            padding: 5px 70px;
            margin-bottom: 20px;
            margin-left: 15px;
            text-align: left;
            color: white;
            background-color: #353637;
        }
    
    button {
      border: 0;
      border-radius: 4px;
      cursor: pointer;
      background-color: #f09f65;
      padding: 10px 15px;
      font-weight: 700;
      font-size: 20px;
      width: 110%;
      color: #2d3535;
      margin-top: 15px;
      align-self: center;

    }
    button:hover {
        background-color: #dccca2;
      }


  table {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    
  }

  th {
    color: #f09f65;
    font-size: .7rem;
  }

  th,td {
    padding: 5px 18px;
    border-top: 1px solid ;
  }

  span {
    
    text-decoration: underline;
    cursor: pointer;
  }
