<div class="container">
  <form> 
    <div>

      <div>
        <label> Titulo
        <input class="input" type="text" [(ngModel)]="titulo" name="titulo">
      </label>
      </div>
  
      <div>
        <label>Artista
        <input class="input" type="text" [(ngModel)]="artista" name="artista">
      </label>
      </div>

      <div>
        <label>Album
        <input class="input" type="text" [(ngModel)]="album" name="album">
      </label>
      </div>

      <div>
        <label>Ano
        <input class="input" type="number" min="1900" [(ngModel)]="ano" name="ano">
      </label>
      </div>

      <div>
        <label>Genero
        <input class="input" type="text" [(ngModel)]="genero" name="genero">
      </label>
      </div>
    
      <!--botão para adicinar um dado/musica-->
    <button (click)="cadastrarMusica()"> 
     {{id ? 'Salvar' : 'Criar'}}
    </button>
  </div>
</form>
  
  <table>
    <thead>
      <th> Titulo </th>
      <th> Artista </th>
      <th> Album </th>
      <th> Ano </th>
      <th> Genero </th>

    </thead>
  
    <tbody>
      <!-- laço for para percorrer pela array musicas$ e fazer o próprio angular fazer o .subscribe-->
      <tr  *ngFor="let musica of musicas$ | async">
        
        <td>{{ musica.titulo }}</td>
        <td>{{ musica.artista }}</td>
        <td>{{ musica.album }}</td>
        <td>{{ musica.ano }}</td>
        <td>{{ musica.genero }}</td>

        <td>
          <!-- spans para editar ou remover um dado/musica-->
        <span (click)="preencherCampos(musica)">Editar</span><br>
        <span (click)="remover(musica.id!)">Remover</span>
      </td>
      </tr>
    </tbody>
  </table>
</div>